# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts should always use LF
*.sh text eol=lf

# Python files should use LF
*.py text eol=lf

# YAML files should use LF
*.yml text eol=lf
*.yaml text eol=lf

# SQL files should use LF
*.sql text eol=lf
